@media only screen and (max-width:1150px){
	header .menu ul {
		width:99%;
	}
	.core.actual_sit .title h2{
		font-size: 1.2rem;
		padding:15px 5px;
	}
}
@media only screen and (max-width:1050px){
	#old_site{
		display:none;
	}
	body{
		width:90%;
	}
}
@media only screen and (max-width:950px){
	header{
		margin-top:0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.core{
		margin-bottom:0;
	}
	#shadow{
		border-radius:0;
	}
	body{
		width:100%;
	}
	html{
		font-size:13px;
	}
}
@media only screen and (max-width:800px){
	body{
		min-width:800px;
	}
}
@media only screen and (max-width:850px){

}
