.core.portfolio{

}

.core.portfolio .entitled{
	max-width:1000px;
	display:block;
	margin:0 auto;
	text-align: justify;
}

.core.portfolio .entitled h2{
	margin: 0;
	padding: 0;
	font-family: "OpenSans";
	color: #579AC5;
	padding-bottom: 7px;
	font-size: 1.6rem;
	text-align: center;
}

.core.portfolio h3{
	font-size: 1.3rem;
	font-family: "OpenSans";
	display:block;
	margin:15px auto;
	text-align: center;
}

.core.portfolio .entitled p{
	text-align: justify;
	font-size:1rem;
}

.core.portfolio .block_container{
	text-align: center;
}

.core.portfolio .block_container .block{
	width:29%;
	display:inline-block;
	vertical-align: middle;
	margin:10px 2%;
	border-radius:5px;
	overflow:hidden;
}

.core.portfolio .block_container .block a{
	width:100%;
	display:block;
}

.core.portfolio .block_container .block:hover span{
	display:block !important;
	position:absolute;
	color:white;
	text-align: center;
	border-radius:5px;
    -webkit-animation: menu 0.75s; 
    animation: menu 0.75s;
}

.core.portfolio .block_container .block:hover span .title{
	display:inline-block;
	vertical-align: middle;
	font-size:1.3rem;
	font-weight:bold;
	max-width: 80%;
}

.core.portfolio .block_container .block:hover span .icon{
	margin-right:5px;
}

.core.portfolio .block_container .block:hover span .inline{
	display:inline-block;
	vertical-align: middle;
	width:1px;
	height:100%;
}

.core.portfolio .block_container .block img{
	width:100%;
	max-height:300px;
}

