/* line 1, /home/michael/RubymineProjects/au_berrechid/app/assets/stylesheets/page/contact.css.scss */
.core_container .contact {
  width: 80%;
  font-family: "century gothic";
  display: block;
  position: relative;
  margin-left: 10%;
  padding-bottom: 50px;
}
/* line 8, /home/michael/RubymineProjects/au_berrechid/app/assets/stylesheets/page/contact.css.scss */
.core_container .contact h2 {
  margin-left: -10px;
  color: #32B3BA;
  font-size: 28px;
}
/* line 13, /home/michael/RubymineProjects/au_berrechid/app/assets/stylesheets/page/contact.css.scss */
.core_container .contact #post_core {
  width: 80%;
  height: 250px;
}
/* line 17, /home/michael/RubymineProjects/au_berrechid/app/assets/stylesheets/page/contact.css.scss */
.core_container .contact #post_title, .core_container .contact #post_name_sender, .core_container .contact #post_email_sender {
  width: 80%;
}
